  services:
    mysql-target:
      volumes:
        - ./../../configs:/docker-entrypoint-initdb.d:ro

    redpanda:
      # Smaller resource usage for dev
      command:
        - redpanda
        - start
        - --smp
        - "1"
        - --reserve-memory
        - "0M"
        - --overprovisioned
        - --node-id
        - "0"
        - --kafka-addr
        - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
        - --advertise-kafka-addr
        - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
        - --pandaproxy-addr
        - PLAINTEXT://0.0.0.0:8082
        - --advertise-pandaproxy-addr
        - PLAINTEXT://redpanda:8082
        - --rpc-addr
        - 0.0.0.0:33145
        - --advertise-rpc-addr
        - redpanda:33145
        - --set
        - redpanda.developer_mode=true

    debezium:
      environment:
        LOG_LEVEL: DEBUG
        KAFKA_HEAP_OPTS: "-Xms512M -Xmx1G"
